name: Pull Request
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
jobs:
  checks:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/opensuse/bci/nodejs:latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - name: install deps
        run: npm ci && zypper install -y cockpit-devel make gettext-tools
      - name: add cockpit-subscriptions as a safe safe directory
        run: git config --global --add safe.directory /__w/cockpit-subscriptions/cockpit-subscriptions
      - name: build
        run: make && npm run build
      - name: eslint
        run: npm run eslint
      - name: stylelint
        run: npm run stylelint
      - name: typecheck
        run: npm run typecheck
      - name: pot file changed but not commited
        run: |
          touch org.opensuse.cockpit_subscriptions.metainfo.xml src/index.tsx
          make po/cockpit-subscriptions.pot
          git --no-pager diff po/cockpit-subscriptions.pot
          [ "$(git diff --numstat po/cockpit-subscriptions.pot | cut -f1)" -gt 2 ] || \
          [ "$(git diff --numstat po/cockpit-subscriptions.pot | cut -f2)" -gt 2 ] \
            && echo "po/cockpit-subscriptions.pot has changed. Failing test" \
            && exit 1
          echo "No changes other than expected timestamps"
          exit 0
